.env
.pem

.ipynb_checkpoints/
Reddit_Comments_Analysis_source.pbix

# Ignore all contents in data folders

data/DW_cache/*
!data/DW_cache/.gitkeep
data/partitions/*
!data/partitions/.gitkeep
data/raw/*
!data/raw/.gitkeep